@import "../responsive";
.container{
  background-color:#f4f1f2;
  border-radius: 1em;
  @include desktop{
    display: flex;
    justify-content: center;
    .form__products{
      width: 600px;
    }
  }
}
.form__products{
  padding: 1em;

  fieldset{
    text-align: center;
    .btn{
      width: 100%;
      padding: 16px;
      color: white;
      background-color: #2A7AE4;
      border: none;
      cursor: pointer;
    }
  }

  legend{
    font-size: 1.4em;
    font-weight: 700;
    color: #464646;
    margin-bottom: 1em;
  }
}

.register__img{
  display: flex;
  margin-bottom: 1em;
  justify-content: center;
  .img__preview{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
      height: 100%;
      opacity: 0.8;
    }

    button{
      padding: 16px;
      background-color: #2A7AE4;
      border-radius: 10px;
      border: none;
      color: #f4f1f2;
      cursor: pointer;
    }
  }
}

.register__group{
  position: relative;
  padding-bottom: 4px;
    .input{
        width: 100%;
        box-sizing: border-box;
        height: 56px;
        font-size: 1em;
        font-weight: 400;
        color: #464646;
        padding: 10px 0 5px 5px;
        outline: none;
        margin-bottom: 1em;
        border: none;
        box-shadow: 3px 5px 0px 0px rgba(0, 0, 0, 0.08);
    }
    #description{
      padding: 15px 0 5px 5px;
      resize: none;
    }

    label{
      font-size: 12px;
      color: #888787;
      position: absolute;
      top: 4px;
      left: 5px;
      font-family: 'Montserrat', sans-serif;
    }

    span{
      color: red;
      font-size: 14px;
      font-weight: 400;
    }

    
}