.section__productos{
    padding: 1em 0;
}

.section__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    padding: 0 3vw;
}

.title{
    font-size: 1.4em;
    font-weight: 700;
}

.catalogo{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #2A7AE4;
    height: 100%;
}

.catalogo img{
    width: 16px;
    height: 16px;
    display: inline-flex;
    padding-left: 2px;
}

@media screen and (min-width: 768px){

    .section__title{
        padding: 0 2.5em;
    }

    .catalogo{
        font-size: 1.01em;
    }

    .catalogo img{
     width: 18px;
     height: 18px;   
    }
}

@media screen and (min-width: 1024px){
    .section__title{
        padding: 0 4em;
    }
}

@media screen and (min-width: 1440px){

    .section__title{
        padding: 0 7em;
    }

    .title{
        font-size: 2em;
    }

    .catalogo img{
        width: 24px;
        height: 24px;   
       }
}